button {
    font-size: 13px;
    transition: background-color 0.2s ease, border-color 0.2s ease,
        -webkit-filter 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border-color 0.2s ease,
        -webkit-filter 0.2s ease;
    transition: filter 0.2s ease, background-color 0.2s ease,
        border-color 0.2s ease;
    transition: filter 0.2s ease, background-color 0.2s ease,
        border-color 0.2s ease, -webkit-filter 0.2s ease;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 4px 15px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: border-box !important;
    background-origin: border-box !important;
    color: #79589f;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #a997bf;
}

button:focus {
    outline: none;
    border-color: #79589f;
    -webkit-box-shadow: 0 0 0 2px rgba(157, 112, 208, 0.4);
    box-shadow: 0 0 0 2px rgba(157, 112, 208, 0.4);
}

button.subtle {
    padding: 5px;
    border-color: #e3e7ef;
}

button.subtle:focus {
    outline: none;
    border-color: #62738d;
    -webkit-box-shadow: 0 0 0 2px rgba(89, 105, 129, 0.2);
    box-shadow: 0 0 0 2px rgba(89, 105, 129, 0.2);
}
